<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::주문(장바구니) 입력 폼 화면:::</title>
    <script type="text/javascript">
        // 취소 버튼 처리
        function goBack(){
            history.go(-1)
        }
        // 저장하기 - POST 방식
        function goInsertPost(){
            // alert('f')
            // form 태그 정보 가지고 오기
            //  - form 태그가 감싸고 있는 내부 정보 모두 접근 가능
            //  - 정보: name을 가지고 있는 값들을 의미
            fm = document.getElementById("fm");
            // alert(fm.cart_member.value);

            // 요청할 경로 지정
            fm.action = "/oracle/cart_insert/";
            // 요청 경로로 전송하기
            fm.submit();
        }
        // get 방식의 location으로 전송하기
        function goInsertGet(cart_no, cart_prod){
            // alert('d');
            // 전송할 정보 추출하기
            fm = document.getElementById("fm");
            cart_member = fm.cart_member.value;
            cart_prod = fm.cart_prod.value;
            cart_qty = fm.cart_qty.value;
            cart_no = fm.cart_no.value;

            url = "/oracle/cart_insert/?";
            url = url  + "cart_member=" + cart_member;
            url = url  + "&cart_prod=" + cart_prod; 
            url = url  + "&cart_qty=" + cart_qty; 
            url = url  + "&cart_no=" + cart_no;
            // alert(url);
            // 전송하기
            location.href = url;
        }
    </script>
</head>
<body>

    <h2>주문(장바구니) 입력 폼 화면</h2>
    <hr/>
<!-- submit으로 전송 시 필수 항목일 경우 required 꼭 써야 함 -->
<!-- <form id="fm" name="fm" method="GET" action="/oracle/cart_insert/"> -->
    <form id="fm" name="fm" method="POST" action="#">

    {% csrf_token %}
    <p>* 아이디: 
        <input type="text" name = "cart_member" value="a001" required>
    </p>
    <p>* 상품 코드:
        <input type="text" name = "cart_prod" value="P302000003" required>
    </p>
    <p>* 주문 수량:
        <input type="text" name = "cart_qty" size="5" value="13" required>
    </p>
    <p>* 주문 번호:
        <input type="text" name = "cart_no" value="2005040100001" required>
    </p>
    <hr/>


    <!-- 저장 버튼 -->
    <input type="submit" value="저장(SUBMIT)">
    <br/>
    <input type="button" value="저장(BUTTON-POST)" onclick = "goInsertPost()">
    <br/>
    <input type="button" value="저장(BUTTON-GET)" onclick = "goInsertGet('{{fm.cart_no}}','{{fm.cart_prod}}')">
    <br/>
    <!-- 취소 버튼 -->
    <input type="button" value="취소" onclick = "goBack()">


</form>
</body>
</html>