<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::Index Page:::</title>
</head>
<body>
    <h3>Front Html Page 입니다.</h3> 
    <hr/>
    <p>
        HTML 코드 잘 실행됩니다.
    </p>
    <hr/>
    <p>데이터를 넣을 때 : {{ key }}</p>
    <p>데이터를 넣을 때 : {{ key2 }}</p>
    
    <hr/>

    <a href="/">[인덱스 페이지로 가기]</a>
    <hr/>
    01_Image테스트: <a href="/front/image/">[바로 가기]</a>
    </br>
    css_1: <a href="/front/css_1/">[바로 가기]</a>
    <br>
    css_2: <a href="/front/css_2/">[바로 가기]</a>
    <br>
    css_3: <a href="/front/css_3/">[바로 가기]</a>
    <br>
    01_javascript1 테스트: <a href="/front/javascript1/">[바로 가기]</a>
    <br>
    01_javascript2 테스트: <a href="/front/javascript2/">[바로 가기]</a>
    <br>
    01_javascript3 테스트: <a href="/front/javascript3/">[바로 가기]</a>

</body>
</html>